DEF_LOOKUP "taxx.abvs_honorific" PROCESS_BASE PROCESS_MARKS MARK_GLYPH_SET "ta.marks_ii_virama" DIRECTION LTRIN_CONTEXTEND_CONTEXTAS_SUBSTITUTIONSUB GLYPH "t.Sha" GLYPH "t.Virama" GLYPH "t.Ra" GLYPH "t.SignIi"WITH GLYPH "t.ShRii"END_SUBSUB GLYPH "t.Sa" GLYPH "t.Virama" GLYPH "t.Ra" GLYPH "t.SignIi"WITH GLYPH "t.ShRii"END_SUBEND_SUBSTITUTION
END